.curseclient
blueprints
fancymenu_data
journeymap/data
local
tacz_backup
rhino.local.properties
resourcepacks

# minecraft user files
saves
/options.txt
/screenshots
/servers.dat_old
/minecraftinstance.json
/usercache.json
/usernamecache.json
/schematics
/server.dat
/knownkeys.txt
crash-reports
logs
.cache
*.log
backups

# various config, caches, etc
modernfix
/**/README.*
about.txt
*.tmp
fml.toml
embeddium-*.json
indigo-renderer.properties
config/world_preview
patchouli_data.json
/config/**/*client.json
/config/**/*client.toml
/config/inventoryprofilesnext
/config/chunky/
Distant_Horizons_server_data
welcomescreen_cache.json
.mixin.out
journeymap/server
debug
user-prefs.json
/mods/.connector
essential
ESM

# why no work?
/config/oculus.properties
/config/packetfixer.properties
/config/asyncparticles/*.properties
/shaderpacks/*.zip.txt
/journeymap/config/5.10/journeymap.fullmap.config
/journeymap/config/5.10/journeymap.minimap.config