.curseclient
blueprints
fancymenu_data
journeymap/data
local
tacz_backup
rhino.local.properties
resourcepacks

# minecraft user files
saves
/options.txt
/screenshots
/servers.dat
/servers.dat_old
/minecraftinstance.json
/usercache.json
/usernamecache.json
/schematics
crash-reports
logs
.cache
*.log

# various config, caches, etc
modernfix
/**/README.*
about.txt
*.tmp
fml.toml
embeddium-*.json
indigo-renderer.properties
config/world_preview
patchouli_data.json
/config/oculus.properties
/config/packetfixer.properties
/config/**/*client.json
/config/**/*client.toml
/config/inventoryprofilesnext
/config/chunky/
Distant_Horizons_server_data
welcomescreen_cache.json
.mixin.out
journeymap/server
debug
user-prefs.json