.curseclient
blueprints
fancymenu_data
journeymap/data
local
tacz_backup
rhino.local.properties
resourcepacks

# minecraft user files
saves
/options.txt
/screenshots
/servers.dat_old
/minecraftinstance.json
/usercache.json
/usernamecache.json
/schematics
/server.dat
/knownkeys.txt
crash-reports
logs
.cache
*.log
backups

# various config, caches, etc
modernfix
/**/README.*
!/README.md
about.txt
*.tmp
fml.toml
embeddium-*.json
indigo-renderer.properties
config/world_preview
patchouli_data.json
/config/**/*client.json
/config/**/*client.toml
/config/**/*client.properties
/config/inventoryprofilesnext/*
/config/chunky/
/config/packetfixer.properties
/config/asyncparticles/*.properties
/config/durabilitytooltip-common.toml
/shaderpacks/*.zip.txt
Distant_Horizons_server_data
welcomescreen_cache.json
.mixin.out
journeymap/server
debug
user-prefs.json
/mods/.connector
essential
ESM

# explicitly included config
!config/ProjectE/client.toml
!config/inventoryprofilesnext/inventoryprofiles.json
!config/oculus.properties
!config/playerrevive-client.json
!config/simplyjetpacks-client.toml
!config/amendments-client.toml
!config/ars_nouveau-client.toml
!config/cofh_core-client.toml
!config/create-client.toml
!config/patchouli-client.toml
!config/storagedrawers-client.toml
!config/structurize-client.toml
!config/ae2/client.json
!config/voicechat/voicechat-client.properties
!config/Mekanism/tools-client.toml
!config/stylisheffects-client.toml